@import "../../../node_modules/@chatscope/chat-ui-kit-styles/themes/default/_variables.scss";

$message-content-bg-color: rgba(157, 240, 201, 0.75);
$message-content-incoming-bg-color: #f01957;
$message-content-outgoing-bg-color: #d6a3b1;
$conversation-header-color: #bf8464;
$conversation-header-bg-color: #bf8464;
$conversation-header-user-name-bg-color: #bf8464;
$conversation-header-info-bg-color: #bf8464;
$message-input-bg-color: #d2dce5;
// $message-input-content-editor-wrapper-bg-color: #d2dce5;
// $message-input-content-editor-bg-color: #d2dce5;
$message-input-placeholder-color: #33272d;
$message-input-content-editor-color: #0e0a0c;
$typing-indicator-text-color: #8a6972;
$typing-indicator-dot-bg-color: #8a6972;
